
/*下面是article的配置*/
/* 定义主体内容的样式 */
.article {
  font-size: 15px;
  padding: 0px 10px;
}

/* 定义主体内容中标题的样式 */
.article h1 {
  font-size: 40px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.article articletitle {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    font-size: 2em;
    font-weight: bold;
}

.article p.date {
  width: 40%;
  display: inline-block;
  font-style: italic;
  font-size: 0.8rem;
  margin: 0;
}

.article p.label {
  width: 40%;
  display: inline-block;
  font-style: italic;
  font-size: 0.8rem;
  text-align: middle;
  margin: 0;
}

.article a.label {
  font-size: 0.8rem;
  text-align: right;
}



