
/*下面是index的配置*/
/*文章列表区域*/
.article-list {
  margin: 0;
  list-style: none;
  padding: 0;
}

/*每个文章的文章块*/
.article-list article {
  margin-bottom: 0.5rem;
}

/*文章标题格式*/
.article-list h2 a {
  color: #333;
  text-decoration: none;
}

/*文章摘要*/
.article-list p.summary {
  margin: 0.5rem;
  font-size: 0.8rem;
}

/*文章发布日期*/
.article-list p.publish-date {
  width: 40%;
  display: inline-block;
  font-style: italic;
  font-size: 0.8rem;
  margin: 0.5rem;
}

/*文章标签*/
.article-list p.label {
  width: 40%;
  display: inline-block;
  font-style: italic;
  font-size: 0.8rem;
  text-align: right;
  margin: 0.5rem;
}

/*文章标签链接*/
.article-list a.label {
  font-size: 0.8rem;
  text-align: right;
}

/*按钮，暂时不用*/
.article-list a.read-more {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 5px;
}