
{% extends base.html %}

{% block title %}
  <title>Article</title>
{% end %}

{% block css %}
  <link rel="stylesheet" href="{{ static_url('./css/articlestyle.css') }}">
{% end %}

{% block sidenav %}
  <a href="#">Category 1</a>
  <a href="#">Category 2</a>
  <a href="#">Category 3</a>
{% end %}

{% block main %}
    <!--文档部分-->
    <div class="article">
      <!--标题-->
      <articletitle>{{ article_info['title'] }}</articletitle>
      <div class="meta">
        <!--发布时间-->
        <p class="date">{{ article_info['create_time'] }}</p>
        <!--标签-->
        <p class="label">
          {%if 'tags' in article_info['meta']%}
            {% for idx_tags,tags in enumerate(article_info['meta']['tags']) %}
              {% if idx_tags == 0 %}
                <a href="#" class="label">{{ tags }} </a>
              {% else %}
                ,<a href="#" class="label">{{ tags }}</a>
              {% end %}
            {% end %}
          {% end %}
        </p>
      </div>


      <div class="markdown">
        <head>
          <link rel="stylesheet" href="{{ static_url('./css/markdown.css') }}">
        </head>
        {% autoescape None %}
        {{ article_info['content'] }}
      </div>
    </div>
{% end %}
