<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% block title %}{% end %}
    <link rel="stylesheet" href="{{ static_url('./css/global.css') }}">
    {% block css %}{% end %}
</head>

<body>
    {% from app.handler.util import ReadConfig %}
    {% set config = ReadConfig() %}
    {% set article_link = config.get('map','article') %}
    {% set home = config.get('map','index') %}
    {% set blog = config.get('map','blog') %}

    <!--顶部导航栏-->
    <div class="topnav">
        <a href="{{ home }}">Home</a>
        <a href="{{ blog }}">Blog</a>
        <a href="#">About</a>
    </div>

    <!--左侧导航栏-->
    <div class="sidenav">
        {% block sidenav %}{% end %}
    </div>

    <!--主要内容-->
    <div class="main">
        {% block main %}{% end %}
    </div>
</body>
</html>
