
{% extends base.html %}

{% block title %}
    <title>Blog</title>
{% end %}

{% block css %}
    <link rel="stylesheet" href="{{ static_url('./css/blog.css') }}">
{% end %}

{% block sidenav %}
    <div class="search">
        <form method="post" action="/search">
        <input type="text" name="search" placeholder="搜索关键词...">
        <br>
        {% from app.handler.util import Article %}
        {% set tags = Article().getalltags() %}
        {% set category = Article().getallcategory() %}
        <select name="tag">
            <option tags="">选择标签</option>
            {% for tag in tags %}
                <option value="{{ tag }}">{{ tag }}</option>
            {% end %}
        </select>
        <br>
        {% if len(category) != 0 %}
            <select name="category">
                <option category="">选择栏目</option>
                {% for cat in category %}
                    <option value="{{ cat }}">{{ cat }}</option>
                {% end %}
            </select>
        {% end %}
        <button type="submit">搜索</button>
        </form>
    </div>
{% end %}

{% block main %}
    <!--文档列表-->
    <div class="article-list">
        {% for article in article_list %}
            <article>
                <!--文档块-->
                {% set the_article_link = article_link + '?title=' + article['title']  %}
                <h2><a href="{{ the_article_link }}">{{article['title']}}</a></h2>
                <p class="summary">{{article['content']}}</p>
                <p class="publish-date">{{article['create_time']}}</p>
                <p class="label">
                  {%if 'tags' in article['meta']%}
                    {% for idx_tags,tags in enumerate(article['meta']['tags']) %}
                      {% if idx_tags == 0 %}
                        <a href="#" class="label">{{ tags }} </a>
                      {% else %}
                        ,<a href="#" class="label">{{ tags }}</a>
                      {% end %}
                    {% end %}
                  {% end %}
                </p>
            </article>
        {% end %}
    </div>
{% end %}